name: Bulk Convert Existing Images to WebP
on:
  workflow_dispatch: # This allows you to run it manually on existing files

jobs:
  webp-convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: WebP Optimizer
        uses: calibreapp/webp-optimizer@master
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          quality: 80
          # This will look through your whole repo. 
          # You can use 'ignorePaths' if you want to skip certain folders.
