name: Convert Images to WebP
on:
  push:
    paths:
      - 'images/**.jpg'
      - 'images/**.png'
      - 'images/**.jpeg'

jobs:
  webp-convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: WebP Optimizer
        uses: calibreapp/webp-optimizer@master
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          quality: 80
